@import "tailwindcss";

:root {
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1.25rem; /* ≈ 20px */
}

@theme {
  --color-primary: #f8f8f8;
  --color-nav: #373c6a;
  --color-header: #666;
  --color-header-hover: #333;
}

* {
  font-family: "Open-Sans", sans-serif;
}

.custom-light-blue {
  background-color: rgb(237, 246, 251);
}
